*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

html,body{
height: 100%;
width: 100%;

}

body{
    font-family: 'poppins',sans-serif;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50%;
    width: 30%;
    background-color: yellow;
    min-width: 300px;
    min-height: 400px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 5px solid green;
    border-radius: 20px;
    box-shadow: 0px 0px 40px yellow;
    text-align: center;
    padding: 0 5%;
}
#text{
    width: 40%;
    height: 10%;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    transition: .5s width;
    outline: none;
    padding: 0% 5%;
}
#text:focus{
    width: 60%;
}
#para{
    padding: 10% 0%;
    font-size: 0.5em;
    color: green;
}
#btn{
    font-size: 1.5rem;
    padding: 2px;
    background-color: green;
    color: yellow;
    border: none;
    padding: 2% 3%;
    border-radius: 10px;
}
#counter{
    position: absolute;
    top: 90%;
    font-size: .5em;
    left: 50%;
    transform: translate(-50%);
    color: green;
}

h1{
    font-size: 110%;
    color: green;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}
.afterOver{
    height: 60%;
    width: 90%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px green;
    transition: .5s scale;
    scale: 0 0;
}
.afterOver > p{
    color: black;
    font-size: .5em;
}
#totalCount{
    font-size: 1.5em;
}
#replay{
    background-color: yellow;
    color: green;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid;
    font-size: .5em;
    padding: 3% 5%;
}